/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/neuromriprep'

    pydeface_cpus = 2
    pydeface_mem  = '4 GB'
    pydeface_time = '30m'

    pydeface_test_data = "${projectDir}/modules/local/pydeface/tests/data"

    pydeface_test_container = 'docker://flywheel/pydeface:0.4.1_2.0.2'
}

apptainer {
    enabled       = true
    autoMounts    = true
    pullTimeout   = '1h'
    cacheDir      = "${projectDir}/.apptainer-cache"
    ociAutoPull   = false
}

singularity {
    enabled       = false
    ociAutoPull   = false
}

process {
    withName: 'PYDEFACE' {
        cpus        = 2
        memory      = 4.GB
        time        = '30m'
        stageInMode = 'copy'

        ext.container = params.pydeface_test_container
    }
}

aws.client.anonymous = true